body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 800px;
    padding: 50px;
}
div.cadastro{
    padding: 20px;
    width: 600px;
    margin: auto;
    background-color: rgb(169, 160, 177);
    color: black;
}
div.contas{
    padding: 10px;
    margin: auto;
    background-color: rgb(169, 160, 177);
    color: black;
    text-align: center;
}
td, tr{
    background-color: rgb(131, 120, 105);
}
div.menu{
    background-color: rgb(140, 140, 155);
    width: 800px;
    padding: 30px;
    margin: auto;
    color: rgb(67, 95, 104);
    text-align: center;
}
a{
    text-decoration: none;
}